<ruleset>
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="16"/>
    <arg name="colors"/>

    <config name="installed_paths" value="vendor/doctrine/coding-standard/lib,vendor/slevomat/coding-standard"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <!-- Directories to be checked -->
    <file>src/</file>
    <file>tests/</file>

    <!-- Directories NOT to be checked -->
    <exclude-pattern>src/Migrations/*</exclude-pattern>
    <exclude-pattern>src/BridgeSyliusPaymentPlugin.php</exclude-pattern>

    <!-- Include full Doctrine Coding Standard -->
    <rule ref="Doctrine">
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming.SuperfluousSuffix"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming.SuperfluousPrefix"/>
        <exclude name="Squiz.Commenting.FunctionComment.InvalidNoReturn" />
        <exclude name="Generic.Formatting.MultipleStatementAlignment" />
        <exclude name="SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingParameterTypeHint" />
        <exclude name="SlevomatCodingStandard.PHP.RequireExplicitAssertion" />
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint" />
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint" />
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingAnyTypeHint" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousTraitNaming.SuperfluousSuffix" />
    </rule>

    <!-- Do not align assignments -->
    <rule ref="Generic.Formatting.MultipleStatementAlignment">
        <severity>0</severity>
    </rule>

    <!-- Do not align comments -->
    <rule ref="Squiz.Commenting.FunctionComment.SpacingAfterParamName">
        <severity>0</severity>
    </rule>

    <rule ref="Squiz.Commenting.FunctionComment.SpacingAfterParamType">
        <severity>0</severity>
    </rule>

    <!-- Require no space before colon in return types -->
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHintSpacing">
        <properties>
            <property name="spacesCountBeforeColon" value="0"/>
        </properties>
    </rule>
</ruleset>
